doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title HUGOS GAME PLANET
        link(rel="stylesheet", href="/css/styles.css")
        link(rel='icon' href='/img/iconoJuego.png')
    nav.nav
        ul.nav__list
            li.nav__item
                img#img_nintendo.item__img(src='/img/nintendo_logo.png' alt='')
            li.nav__item
                img#img_xbox.item__img(src='/img/xbox_logo.png' alt='')
            li.nav__item
                img#img_playstation.item__img(src='/img/playstation_logo.png' alt='')
    main
        .container__cart
            img.cart__img(src='/img/carrito.png' alt='Carrito de Compras')
        .cart__box
        .pcp_img
            img(src='/img/Fifa.png' alt='FC25')
        section
            .container__card
        section
        .greatings
            h3 Agradecimientos
            a(href='https://www.flaticon.es/iconos-gratis/juego-de-azar' title='juego de azar iconos') Juego de azar iconos creados por Freepik - Flaticon
            a(href='https://www.flaticon.es/iconos-gratis/cesta-de-la-compra' title='cesta de la compra iconos') Cesta de la compra iconos creados por Freepik - Flaticon
            h3 - - Made By Hugo Perez Ortiz - - 
        .container__video
        script(src='/js/elements.js')
        script(src='/js/script.js')
