body{
    margin: 0;
    background: #ebebeb;
    font-family: sans-serif;
}


/* Navegation Bar */
.lista_elementos{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height: 6vh;
    background: #edede9;
    box-shadow: 0 0 10px 0 #000d;
    border-radius: 0 0 10px 10px;
}

.logos_navegacion{
    width: 2em;
}

.logos_navegacion:hover{
    width: 2.4em;
    cursor: pointer;
    cursor: hand;
}

#logoNintendo{
    width: 4em;
}

#logoNintendo:hover{
    width: 4.4em;
    cursor: pointer;
    cursor: hand;
}

/* Store Title */

.home_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 30px;
}

#imagen_carrito{
    width: 2em;
}

#imagen_carrito:hover{
    width: 2.4em;
    cursor: pointer;

}

.home_title{
    text-align: center;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.home_title p{
    text-decoration: none;
    color: #000d;
    font-size: 1.7em;
}

.home_title p:hover{
    font-size: 1.8em;
    color: #003459;
    cursor: pointer;
    cursor: hand;
}


.store_title{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    padding: 15px;
    box-sizing: border-box;
    text-transform: uppercase;
}

#webTitle:hover{
    cursor: pointer;
    font-size: 1.4em;
}

#webTitle:active{
    color: #003459;
}

/* Content Cart */

.shop-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
}


.card{

    width: 300px;
    height: auto;
    border: 1.5px solid #000; 
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 #000;
    margin: 10px 20px;
    margin-bottom: 3em;
    word-wrap: break-word;
    max-height: max-content;
    min-width: 300px;
    box-sizing: border-box;
}

.card:hover{
    min-width: 12vw;
    height: auto;
    transition: 0.9s;
    border: 4px solid #ebebeb;
    background: #ebebeb;
    color: #000;
    box-sizing: border-box;
}

.card img:hover{
    border-bottom: 2px solid #ebebeb;
}


.card img, h2, p{
    margin: 0;
}


.card h2{
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0;
}

.card p{
    font-weight: 200;
    margin: 5px 0;
}

.card img{
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 400px;
}

.imagenes_ropa{
    width: 100%;
}

/* Button Style */

.botton_comprar{
    --color: #5c0808;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.botton_comprar:before {
content: "";
position: absolute;
z-index: -1;
background: var(--color);
height: 150px;
width: 200px;
border-radius: 50%;
}

.botton_comprar:hover {
color: #fff;
}

.botton_comprar:before {
top: 100%;
left: 100%;
transition: all 0.7s;
}

.botton_comprar:hover:before {
top: -30px;
left: -30px;
}

.botton_comprar:active:before {
background: #401d1d;
transition: background 0s;
}


/* Shopping Cart Style */

#shoppingCart{
    position: absolute;
    top: 13%;
    left: 72%;
    width: 24vw;
    min-width: 10vw;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 10px 0 10px 10px;
    background: #e7e1e1;
    z-index: 100;
}

#shoppingCart:empty{
    border: none;
}

.carTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fcf6f6;
    color: #000;
    border-radius: 10px 0 0 0;
}

.carCloseButton:hover{
    cursor: pointer;
}

.carTitle img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.carTitle img:hover{
    cursor: pointer;
}

.carTitle h3{
    margin: 0;
    margin-left: 10px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
    margin: 10px, 0;
    z-index: -2;
}

.borrar-curso{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
}

.modal-content > img{
    height: 50px;
    width: 50px;
}

.total-content{
    background: #fff;
    width: 100%;
    text-align: center;
    border-radius: 0 0 10px 10px;
}


.foot_container{
    background: #e7e1e1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.foot_container h4{
    font-size: 25px;
}

.foot_container a{
    margin-bottom: 10px;
    text-decoration: none;
    color: #000d;
    width: 100%;
}

.foot_container a:hover{
    color: #0f0;
}

.foot_container a:active{
    color: #32073a;
}